/Joguinho/nbproject/private/
/Joguinho/build/
/Joguinho do genio/nbproject/private/
/Joguinho do genio/build/
/Atividade Vetor/nbproject/private/
/Atividade Vetor/build/
/Atividade Vetor/dist/
/Vetor/nbproject/private/
/Vetor/build/
/Vetor/dist/
/Att Vetor/nbproject/private/
/Att Vetor/build/
