/Joguinho/nbproject/private/
/Joguinho/build/
/Joguinho do genio/nbproject/private/
/Joguinho do genio/build/
/Repetição com slider/nbproject/private/
/Repetição com slider/build/
/Repetição com Spinner/nbproject/private/
/Repetição com Spinner/build/
